<h1 align="center">My Bookings</h1>
<div class="container">
    <div id="bookings">
     <% if @bookings.blank? %>
     <p align="center"><em>What are you waiting for, <%= current_user.first_name %>? Book your first performance with Yesh!</em></p>
     <% else %>
  <div class="row">
     <div class="col-6">
      <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.performance.photo %>
        <div class="card-product-infos">
          <h2><%= booking.performance.name %></h2>
          <p>Date: <%= booking.date %></p>
          <p>Time: <%= booking.time %></p>
          <p>Address: <%= booking.address %></p>

          <% if policy(booking).edit? %>
          <%= link_to edit_booking_path(booking) do %>
          <span data-toggle="tooltip" data-placement="top" title="Edit booking"><i class="fas fa-edit"></i></span>
          <% end %>
          <% end %>
          <% if policy(booking).destroy? %>
          <%= link_to booking, method: :delete, data: { confirm: 'Are you sure?' } do%>
          <span data-toggle="tooltip" data-placement="top" title="Delete performance"> <i class="fas fa-trash"></i></span>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-6">
      <div
      id="map"
      style="width: 100%;
      height: 550px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
  <% end %>
</div>
</div>

