<div class="container my-5">

  <!-- Card -->
  <div class="card">

    <!-- Card body -->
    <div class="card-body">

      <!-- Material form register -->
      <p class="h4 header-signup py-4">Sign up</p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">

          <!-- Material input text -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <%= f.input :first_name,
                required: true,
                autofocus: true %>
          </div>

             <!-- Material input text -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <%= f.input :last_name,
                  required: true,
                  autofocus: true %>
            </div>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
            </div>

            <!-- Material input password confirmation -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                 <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
            </div>

            <!-- Material input picture upload -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                 <%= f.input :photo,
                    required: true %>
                 <%= f.input :photo_cache, as: :hidden %>
            </div>
          </div>
          <div class="text-center py-4 mt-3">
            <%= f.button :submit, "Sign up", class:'card-btn' %>
            <br>
            <%= render "devise/shared/links"%>
            </div>
          </div>

        <% end %>
        <!-- Material form register -->
    </div>
    <!-- Card body -->
  </div>
  <!-- Card -->
</div>
