<h1> Book <%= @performance.name %> </h1>

<%= simple_form_for([@performance, @booking]) do |f| %>
  <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :time, as: :string, input_html: {class: "timepicker"} %>
  <%= f.submit %>
<% end %>


