<div class="container my-5">

  <!-- Card -->
  <div class="card">

    <!-- Card body -->
    <div class="card-body">

      <!-- Material form register -->
      <p class="h4 header-signup py-4">Log in</p>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
            </div>

            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="text-center py-4 mt-3">
            <%= f.button :submit, "Log in", class:'card-btn' %>
            <br>
            <%= render "devise/shared/links"%>
            </div>
          </div>

        <% end %>
        <!-- Material form register -->
    </div>
    <!-- Card body -->
  </div>
  <!-- Card -->
</div>

