<div class="container">
    <h2 class="h4 header-signup py-4">Add Your Performance</h2>
  <div class="d-flex mb-5">
  <div class="left-half"></div>

  <div class="right-half">
    <!-- Card -->
    <div class="card">

      <!-- Card body -->
      <div class="card-body">

        <!-- Material form register -->
        <p class="h4 header_perf_new py-4">Performance Details</p>
      <%= simple_form_for(@performance) do |f| %>
          <div class="form-inputs">

            <!-- Material input text -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <%= f.input :name %>
            </div>

               <!-- Material input text -->
              <div class="md-form">
                <i class="far fa-sticky-note prefix grey-text"></i>
               <%= f.input :description %>
              </div>

              <!-- Material input email -->
              <div class="md-form">
                <i class="fas fa-dollar-sign prefix grey-text"></i>
                <%= f.input :price %>
              </div>

              <!-- Material input password -->
              <div class="md-form">
                <i class="fas fa-th prefix grey-text"></i>
                <%= f.input :category, :collection => ["Singing", "Dancing", "Other"],
        :input_html => {:class => 'selectpicker'}%>
              </div>

              <!-- Material input password confirmation -->
              <div class="md-form">
                <i class="fas fa-map-marker-alt prefix grey-text"></i>
                <%= f.input :city %>
              </div>

              <!-- Material input picture upload -->
              <div class="md-form">
                <i class="fas fa-camera prefix grey-text"></i>
                  <%= f.input :photo, required: true, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
                  <%= f.input :photo_cache, as: :hidden %>
              </div>
            </div>
            <div class="text-center py-4 mt-3">
              <%= f.submit class: 'card-btn'%>
              </div>
            </div>
          <% end %>
          <!-- Material form register -->
      </div>
      <!-- Card body -->
    </div>
    <!-- Card -->

 </div>
    </div>
</div>





