<div class="container">
    <h2 class="header_new">Add your performance</h2>
  <div class="row margin-top">
   <div class="left-half col-sm-6">

    <%= simple_form_for(@performance) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :category, :collection => ["Singing", "Dancing", "Other"],
      :input_html => {:class => 'selectpicker'}%>
      <%= f.input :city %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden, class:'card-btn' %>
      <%= f.submit class: 'card-btn'%>
    <% end %>
    </div>
    <div class="right-half"></div>
  </div>
</div>
