
<div class="container">
  <%= link_to "< All results", performances_path, class: "return-link"%>
  <div class="flexbox">
    <div class="flex-item">
    <h1 class="headers-website">
      <%=@performance.name%>
      <% if @performance.user == current_user %>
        <span> <%= link_to performance_path(@performance), method: :delete do %></span>
           <span data-toggle="tooltip" data-placement="top" title="Delete performance"> <i class="fas fa-trash performance-options"></i></span>
          <% end %>
        <span> <%= link_to edit_performance_path(@performance) do %> </span>
          <span data-toggle="tooltip" data-placement="top" title="Edit performance"><i class="fas fa-edit performance-options"></i></span>
        <% end %>
      <% end %>
    </h1>
    <div class="card-performance">
  <%= cl_image_tag @performance.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-performance-infos">
    <div>
      <h2><%=@performance.category%></h2>
      <p><%=@performance.price%></p>
    </div>
    <h2 class="card-performance-pricing"><%=@performance.price%>$</h2>
  </div>
</div>
</div>

<div class="flex-item">
      <h3>Description</h3>
      <p><%=@performance.description%></p>
      <p><strong>Category:</strong> <%=@performance.category%></p>
      <p><strong>City:</strong> <%=@performance.city%></p>
      <p><strong>Price:</strong> <%=@performance.price%>$ per hour</p>
      <%= link_to "Book", new_performance_booking_path(@performance), class: "card-btn btn-block text-center"%>
    </div>
  </div>
</div>
</div>
  <br>

  <h3> <%= pluralize @reviews.size, "Review" %></h3>
  <% if @performance.reviews.empty? %>
    <p> <em> Be the first to leave a review for <%= @performance.name %> </em> </p>
  <% else %>
  <div id="reviews">
    <% @performance.reviews.each do |review| %>
   <%= render "reviews/show", review: review %>
    </div>
    <% end %>

  </div>
  <% end %>
  <h3 style="margin-top: 40px;"> Create a New Review</h3>
  <%= render "reviews/form", review: @review, performance: @performance %>
</div>

